@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #181e36;
        z-index: 1000;
        -webkit-transform: translateX(0); 
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  

.wrapper {
    background-image: url(Home/assets/cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper #db {
    background-color: #f7f7fc;
    min-height: 823.3px;
}

textarea#address {
    resize: none;
}

span {
    font-size: 4rem;
}

.navBar {
    height: 64.3vh;
}

.wrapper #profilePic {
    width: 50%;
    height: 135px;
    z-index: 5;
}

.wrapper #profilePic img {
    height: 85%;
}

.wrapper nav {
    width: 15%;
    background-color: #181e36;
}

.wrapper nav button {
    color: rgb(161, 161, 161);
    outline: none;
    border: none;
    background-color: #181e36;
}

.wrapper nav #dbBtn {
    color: white;
    background-color: #454a61;
}


.wrapper nav button .fa-solid {
    width: 10%;
}

.wrapper nav button:hover,
.wrapper nav button .fa-solid:hover {
    color: white!important;
}

.wrapper nav li {
    height: 55px;
}

.wrapper #logoutDiv {
    height: 55px;
}

.wrapper #logoutDiv button:hover {
    background-color: rgb(182, 53, 53);
}

.wrapper #modalLogoutBtn {
    height: 38px;
    width: 105px;
    color: black;
    font-weight: bold;
    background-color: transparent;
    border: #181e36 2px solid;
    transition: all 0.5s ease;
}

.wrapper #modalLogoutBtn:hover {
    background-color: #181e36;
    color: white;
    font-weight: normal;
}

.wrapper #modalBody {
    height: 150px;
}

.wrapper #cancelLogoutBtn {
    height: 38px;
    width: 105px;
    color: white;
    transition: all 0.5s ease;
}

.wrapper .card {
    width: 30%;
    height: 300px;
}

.wrapper .first,
.wrapper .third {
    background-color: #181e36;
}

.wrapper .second {
    background-color: #478186;
}

.wrapper .container {
    padding: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.wrapper .container .db {
    height: 51%;
}

.shadow-lg {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset!important;
}

.container .table-name,
.container .table-age,
.container .table-gender,
.container .table-contactNumber,
.container .table-address {
    background-color: #181e36;
    color: white;
    font-weight: 100;
}

.container .table-name {
    width: 22%;
}

.container .table-age {
    width: 7%;
}

.container .table-gender {
    width: 10%;
}

.container .table-contactNumber {
    width: 20%;
}

.container .table td {
    height: 30.5px;
}

/* Register Student CSS */
#regStudent {
    display: none;
    background-color: #f7f7fc;
}

.wrapper #regStudent .mb-5 h1 {
    font-weight: bolder;
}

.wrapper #regStudent .required {
    color: red;
}

.wrapper #regStudent div.col h4 {
    width: fit-content;
}

.wrapper #regStudent div.col input,
.wrapper #regStudent div.col select {
    height: 35px;
    width: 100%;
}

.wrapper #regStudent #gender {
    outline: none;
}

.wrapper #regStudent #contactNo {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper #regStudent #regStudentContainer {
    width: 100%;
    transition: all ease 0.5s;
}

.wrapper #regStudent #regStudentContainer .me-2,
.wrapper #regStudent #regStudentContainer .ms-2 {
    width: 15%;
}

.wrapper #regStudent #regStudentContainer #submitStudentBtn {
    width: 100%;
    height: 40px;
    background-color: #b3e0e4;
    color: #8b8b8b;
    cursor: not-allowed;
    border: #addee0 1px solid;
    transition: all ease 0.5s;
}

.wrapper #regStudent #regStudentContainer #clearBtn {
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: black;
    border: 1px solid #8b8b8b;
    transition: all ease 0.5s;
}

.wrapper #regStudent #regStudentContainer #clearBtn:hover {
    background-color: rgb(37, 37, 37);
    color: white;
    border: 1px solid #8b8b8b;
}

@keyframes shake1 {
    0% {
    transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
    transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
    transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
    transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
    transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
    transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
    transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
    transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
    transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
    transform: translate(1px, -2px) rotate(-1deg);
}
}

/* ID Generated */
#studentId {
    display: none;
}

#studentId p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font {
    height: 375px;
    width: 250px;
    position: relative;
    border-radius: 10px;
}

.top {
    height: 30%;
    width: 100%;
    background-color: #181e36;
    position: relative;
    z-index: 5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom {
    height: 70%;
    width: 100%;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid;
}

.bottom .fs-6 {
    font-weight: normal;
}

.top img {
    height: 100px;
    width: 100px;
    background-color: #e6ebe0;
    border-radius: 10px;
    position: absolute;
    top:60px;
    left: 75px;
}

.bottom p {
    position: relative;
    top: 60px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    text-emphasis: spacing;
}

.bottom .desi {
    font-size:12px;
    color: grey;
    font-weight: normal;
}

.bottom .no {
    font-size: 15px;
    font-weight: normal;
}

.barcode img {
    height: 65px;
    width: 65px;
    text-align: center;
    margin: 5px;
}

.barcode {
    text-align: center;
    position: relative;
    top: 70px;
}

.qr img {
    height: 80px;
    width: 100%;
    margin: 20px;
    background-color: white;
}

.Details {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.details-info {
    color: white;
    text-align: left;
    padding: 5px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    line-height: 22px;
}

.logo {
    height: 40px;
    width: 150px;
    padding: 40px;
}

.logo img {
    height: 100%;
    width: 100%;
    color: white;
}

/* End of Register Student */

/* Start of Profile CSS */
#pf {
    display: none;
    background-color: #f7f7fc;
}

.wrapper #pf input {
    height: 35px;
}

.wrapper #pf #updateProfile {
    width: 15%;
    height: 40px;
    background-color: #b3e0e4;
    color: #8b8b8b;
    cursor: not-allowed;
    border: #addee0 1px solid;
    transition: all ease 0.5s;
}

.wrapper #pf #cancelProfile {
    width: 15%;
    height: 40px;
    background-color: transparent;
    color: black;
    border: 1px solid #8b8b8b;
    transition: all ease 0.5s;
}

.wrapper #pf #cancelProfile:hover {
    background-color: rgb(233, 233, 233);
}

#pf #pfUsername,
#pf #pfEmail {
    cursor: not-allowed;
}

#oldPassword,
#newPassword,
#newCPassword {
    outline: none;
}

#eyeBtn-0,
#eyeBtn-1,
#eyeBtn-2 {
  right: 295px;
  bottom: 0;
  top: 0;
  width: 10%;
  color: #1b46d4;
  border: none;
  display: none;
  outline: none;
}

#eyeBtn .fa-eye {
  color: #1b46d4;
  border: none;
}

#oldPasswordH4,
#oldPassWrong {
    width: fit-content;
}